---
import Header from '../componen/header.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro'; 
import Footer from '../componen/footer.astro';


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
const pageTittle = "Home Page";
---

<Layout>
	<div class="home">
		<Header/>
	
		
		<h1>Welcome</h1>  
	
	
		
		<Footer/>
	</div>

	<script>
		import '../menu';
	</script>
</Layout>
